@import './colors.scss';

.rounded {
  background-color: $dark-grey;
  color: white;
  border-radius: 10px; 
  padding: 10px 20px;
  border: 3px solid $dark-grey; 
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: white;
    color: $dark-grey;
    border: 3px solid $dark-grey;
  }
}
