$Black: #000;
$White: #fff;
$light-grey: rgba(202, 202, 202, 1);
$dark-grey: rgba(51, 51, 51, 1);
$cadmium-yellow: rgba(254, 236, 0, 1);
$hansa-yellow: rgba(252, 211, 0, 1);
$cadmium-orange: rgba(255, 105, 0, 1);
$cadmium-red: rgba(255, 39, 2, 1);
$permanent-green: rgba(7, 109, 22, 1);
$sap-green: rgba(107, 148, 4, 1);
$phthalo-green: rgba(0, 60, 50, 1);
$quinacridone-magenta: rgba(128, 2, 46, 1);
$cobalt-violet: rgba(78, 0, 66, 1);
$burnt-sienna: rgba(123, 72, 0, 1);
$ultramarine-blue: rgba(25, 0, 89, 1);
$cobalt-blue: rgba(0, 33, 133, 1);
$phthalo-blue: rgba(13, 27, 68, 1);
