@import './colors.scss';

:root {
    font-family: 'Helvetica';
    --Black: #000;
    --White: #fff;
}

h1 {
    /* Heading */
    font: 800 3.2rem/1 'Helvetica';
    letter-spacing: -.01rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 6.5rem;
    font-weight: 400;
    line-height: 7.5rem;
    animation: floatIn 1s ease-in-out;


}

h3 {
    /* subtitle/large */
    font: 800 3.2rem/1 'Helvetica';
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 5rem;
    letter-spacing: -.01rem;
    animation: floatIn 0.8s ease-in-out;

}
h6 {
    font: 800 3.2rem/1 'Helvetica';
    font-weight: 400;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: -.01rem;
    animation: floatIn 0.8s ease-in-out;

}

p {
    font: 800 3.2rem/1 'Helvetica';
    color: $dark-grey;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}